<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Buscar Usuario</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form th:action="@{/usuario/buscar}" method="post" th:object="${usuario}">


			<div class="form-group">
				<label for="nameUsuario">Buscar:</label> <input type="text"
					class="form-control" th:field="*{nameUsuario}" id="nameUsuario"></input>
			</div>
			<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="/usuario/listar" class="btn btn-danger">Cancelar</a>

		</form>

		<table class="table table-bordered table-hover table-striped"
			id="tab_logic">
			<thead>
				<tr>
					<th class="text-center">CODIGO</th>
					<th class="text-center">NOMBRE</th>
					<th class="text-center">DNI</th>
					<th class="text-center">EMPRESA</th>
					<th class="text-center">DIRECCION</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usu: ${listaUsuarios}">
					<td th:text="${usu.idUsuario}"></td>
					<td th:text="${usu.nameUsuario}"></td>
					<td th:text="${usu.dniUsuario}"></td>
					<td th:text="${usu.empresaUsuario}"></td>
					<td th:text="${usu.direccionUsuario}"></td>
				</tr>
			</tbody>
		</table>


		<div th:if="${mensaje}" class="alert alert-info">
			<p th:text="${mensaje}"></p>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
